<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	      version="2.5">

  <display-name>Archetype Created Web Application</display-name>
  
  <listener>
    <listener-class>Configuration.StartupContainer</listener-class>
  </listener>

  <servlet>
  	<servlet-name>Index</servlet-name>
    <servlet-class>Services.Impl.IndexServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>Index</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
 
 <servlet>
  	<servlet-name>Read</servlet-name>
    <servlet-class>Services.Impl.ReadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>Read</servlet-name>
    <url-pattern>/read</url-pattern>
  </servlet-mapping>
 
</web-app>
